.user-detail{

    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 25px;
    width: 50vw;
    height: 700px;
    text-align: center;
    margin: 10px;
    background-color: #f9f9f9;
    box-sizing: border-box;
    word-wrap: break-word;
    overflow-wrap: break-word;

}

.user-detail img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin-bottom: 40px;
    margin-top: 25px;
}

.user-detail button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    background-color: #646cff;
    color: white;
    cursor: pointer;
}

.user-detail p {
    font-size: 18px;
    color: #333;
    margin-top: 15px;
}